<nav class="navbar navbar-custom sticky-top">
  <div class="container d-flex justify-content-center">
    <ul class="nav pill-nav shadow-sm">
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faHome"></fa-icon></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faBook"></fa-icon></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/itsPriyanshuRaj" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/itspriyanshuraj/" target="_blank"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="https://x.com" target="_blank"><fa-icon [icon]="faXTwitter"></fa-icon></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="https://priyanshuraj.hashnode.dev/" target="_blank"><fa-icon [icon]="faHashnode"></fa-icon></a>
      </li>
    </ul>
  </div>
</nav>